body{
	background-color: #fef3c7;
	font-family: Arial, Helvetica, sans-serif;
}
h1{
	text-align:center;
}

/* *********************************************** */
header{
	/* background-color:#6ee7b7; */
	padding:6px 20px;
}

.headerBtn {
	padding: 8px 16px;
	display:inline-block;
	border-radius:4px;
	user-select:none;
	transition: all 0.2s;
}
.headerBtn:hover {
	background-color:#fad0d0; 
    
}

.headerBtn:hover{
	cursor:pointer;	
}

.active{
	background-color:#fca5a5; 
}


/* LIST VIEW ************************************ */
.nBooks{
	padding:0px 12px 16px 12px;
	font-size:16pt;
	width:70%;
	margin:0 auto;
}

table{
	border-radius: 5px;
	width:70%;
	margin:0 auto;
}

table tr{
	border-radius: 10px;
	height:30px;
	transition: all 0.2s;
}
table th{
	padding: 20px;
	color: #faf5de !important;
}
table td{
	padding: 10px;
}
table td, table th{
	border: none;

	border-radius: 5px;
	background-color: #fdba74;
	transition: all 0.2s;
}


table tr:hover td {
    background-color: #fed7aa;
}




table th{
	background-color: #ef4444;
	color:white;
}
td button{
	background-color: #fab1b1;
	border: 1px solid #ef4444 ;
	/* border: none; */
	cursor: pointer;
	padding: 10px;
	border-radius: 3px;
	width: 90% !important;
}
.btnVista{
	background-color: #fab1b1;
    border: 1px solid #ef4444 ;
    /* border: none; */
    cursor: pointer;
    padding: 10px;
    border-radius: 3px;
    margin-right: 20px !important;
}
table td:nth-of-type(1) {width:5%;}
table td:nth-of-type(2) {width:13%;}
table td:nth-of-type(3) {width:10%;}
table td:nth-of-type(4) {width:7%;}
table td:nth-of-type(5) {width:40%;}
table td:nth-of-type(6) {width:9%;}
table td:nth-of-type(7) {width:9%;}
table td:nth-of-type(8) {width:7%;}
	
@media screen and (max-device-width:1024px), screen and (max-width:1024px){
	table, .nBook{
		width:90%;
	}
}

@media screen and (max-device-width:900px), screen and (max-width:900px){
	table, .nBook{
		width:100%;
	}
}


/* DETAILS VIEW ************************************ */
.details {
    /* background-color: white; */
    display: grid;
    width: 480px;
    grid-template-columns: 100px auto;
    grid-template-rows: 40px 40px 40px 40px 40px 40px;
    grid-column-gap: 15px;
    grid-row-gap: 5px;
    margin: 10px auto;
	padding:12px;
    /* border: 1px solid #fde68a; */
    border-radius: 6px;
}
input{
	background-color: #ffedd5;
	border:1px solid #fdba74;
	outline: none;
	border-radius: 5px;
	padding: 0px 10px !important;
	transition: all 0.2s;
}
input:hover, input:focus,input:active{
	background-color: #e0e7ff;
}
.details>* {
	margin:0;
	padding:0;
	padding-top:10px;
    height:40px;
}

.details>label {
    text-align: right;
    font-weight: bold;
}

.details>input {
	font-size:13pt;	
	padding:0;
	margin:0;
}
 
.buttons {
    margin: 10px auto;
    width: 460px;
    text-align:center;
}

.button {
    padding: 8px 20px;
	background-color: #bbf7d0;
	cursor: pointer;
	border: 1px  solid #4ade80;
	border-bottom: 3px solid #4ade80;
    width: 100px;
    margin: 5px 0;
    border-radius: 6px;
	font-weight:bold;
}
.button:active{
	border-bottom: 1px solid #4ade80;
}

.buttons span{
	padding-left:10px;
	padding-right:10px;
	font-weight:bold;
	font-size:14pt;	padding-left:10px;

}



