.bi-search, .bi-people-fill {
  font-size: 1.5rem;
  cursor: pointer;
}

h1{
	text-align:center;
	font-size: 3.5em;
	padding:15px;
}
.modal-body>a{
	color: gray;
	text-decoration: none;
	transition: all 0.2s;
}

.modal-body>a:hover{
    color: blue;
	text-decoration: underline;
}