    
@tailwind base;

@tailwind components;

@tailwind utilities;
body{
	background: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
	background-repeat: no-repeat;
	height: 100vh;
	/* background-color: black; */
}
h1{
	margin: 20px;
	padding: 10px;	
}
.navBarHome {
	background-color: transparent; /* Colore più chiaro */
}


table{
	background-color:#ddd;
	margin: 20px auto;
	padding:10px;
	width:700px;
	border-radius:15px;
	border:1px solid blue;
	border-spacing:0;
}

table tr{
	height:36px;
}

table th{
	text-align:left;
	width:30%;
	/* border: 1px solid #8F8F8F; */
	border-radius:2px;
	/* background-color:#999;	 */
	/* border: 1px solid black; */
	/* border-radius: 2em; */
}

table th:last-of-type(){
	width:10%;
}


button{
	width:340px;
	margin: 20px;
	margin-top:0;
	padding: 10px;
	background-color:#ffa;
	border-radius:5px;
	border:1px solid #777;
	font-weight:bold;
	font-size:12pt;
	cursor:pointer;
}