.bi-search, .bi-people-fill, .bi-facebook, .bi-instagram, .bi-telephone {
  font-size: 1.5rem;
  cursor: pointer;
  margin: 0 5px;
}

main, .alert, .row > * {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.card {
  padding: .25rem !important;
}

h1{
	text-align:center;
	font-size: 3.5em;
	padding:15px;
}

footer h3 {
	display:inline;
}

footer.sfondo{
	background-color:#CCC;  
}